<div class="feature col">
    <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
      <svg class="bi" width="0.3em" height="0.3em"><use xlink:href="#collection"/></svg>
    </div>
    <img src="<%=mission.imgPath%>" style="width: 350px;" alt="">
    <h3 style="margin-top: 20px;" class="fs-2"><%= mission.title %></h3>
    <p style="font-size: large;"><%= mission.content%></p>
</div>