<div class="card" style="width: 25rem; margin-left: 1rem;">
  <img src="<%=mission.imgPath%>" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= mission.title %></h5>
    <p class="card-text"><%= mission.content%></p>
  </div>
</div>
